body { font-family: 'Fanwood Text', serif; margin: 0; padding: 30px 60px; background-color:#F0F6F1; }
body * { max-width: 950px; }
h1 { color: #888; font-size: 300%; font-weight: 300; }
h2 { color: #888; font-size: 200%; font-weight: 300; }
h3 { color: #333; font-size:150%; font-variant: small-caps; font-weight: 300; }
p, li { color: #333; font-size: 150%; line-height: 150%; }
a { border-bottom: 1px dotted #000; color: #000; text-decoration: none; }
a:hover { border-bottom-color: #B57D95; color: #B57D95; }
blockquote p { font-size: 110%; }
q { quotes: '‘' '’' '“' '”'; }
sup { line-height: 100% }
sup a, .footnotes a { color: #888; font-size: 75%; border-bottom: none; }
sup a:hover, .footnotes a:hover { border-bottom: 1px dotted #B57D95; color: #B57D95; }
.footnotes p, .footnotes li { font-size: 100%; }
/*
 * *    When screen is smaller than 500px
 * */
@media only screen and (max-width:500px){
  body { padding: 10px; font-size: 20%; }
}
