circle, path { cursor: pointer; }
circle { pointer-events: all; }
text { cursor: pointer; font: 12px FSAlbert,sans-serif; }
div#breadcrumb { 
  float:left;
  width:200px;
  padding:100px 0;
  }
div#wheel {
  float:left;
  }
div#descriptor {
  padding:100px 0;
  }
.map1Stop1 { stop-color: #F58236; }
.map1Stop2 { stop-color: #F26100; }
